<p><%= @weapon.name %></p>

<p><%= @weapon.description %></p>

<p><%= @weapon.current_power %></p>

<p><%= @weapon.power_base %></p>

<p><%= @weapon.power_step %></p>

<p><%= @weapon.title %></p>

<p><%= link_to weapon_path(@weapon) %></p>

<%= link_to 'Voltar', weapons_path %>